/*Seccion equipo.html*/
.main{
    background-image: linear-gradient(to right, #000000, #5f3838, #00000080);
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    @include grid(center, center);
    .fondoequipo{
        img{width: 100%;}
    }
    .grupo-equipos-menu{
        width: 100%;
        gap: 5rem;
        @include flex(column, flex-start);
        padding: 80px;
    }
}