/*Seccion proyecto.html*/
.grupos-musicales{
    padding: 20px;
    background-image: linear-gradient(to bottom, #00002e, #a16262a1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    
    .video-music{
        .card{
            background-color: black;
            display: flex;
            flex-direction: row;
            gap: 15px;
            border-radius: 5px;
            border: 2px solid white;
            iframe{
                border-radius: 5px;
            }
            .descripcion-video{
                background-color: black;
                padding: 5px;
                border-radius: 5px;
                .card-title{color: aliceblue;}
                .card-text{
                    padding: 1px;
                    font-size: 0.9rem;
                    color: aliceblue;
                    text-align: justify;
                }
            }
        }
    }
}