/*Seccion nosotros.html*/
.container-video-texto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .container-de-video-texto1{
        grid-template-columns: 2fr 2fr;
        background-image: linear-gradient(to right, #000000, rgb(16 13 13 / 91%));
        padding: 15px;
        gap: 15px;
        @include grid(center, center);
        .video-nosotros{
            video{
                max-width: 100%;
                border-radius: 5px;
                border: 2px solid wheat;
            }
        }
        .container-texto{
            text-align: justify;
            padding: 15px;
            font-size: 1.3rem;
            width: 100%;
            h2{
                @include h2(center, normal, none);
                color: rgb(203, 213, 222);
                font-size: 2.5rem;
            }
            p{color: $color-letras;}
        }
    }
    .container-de-video-texto2{
        @include grid(center, center);
        grid-template-columns: 2fr 2fr;
        background-image: linear-gradient(to right, #000000, rgb(16 13 13 / 91%));
        padding: 15px;
        gap: 15px;
        
        .video-nosotros{
            video{
                max-width: 100%;
                border-radius: 5px;
                border: 2px solid wheat;
            }
        }
        .container-texto{
            text-align: justify;
            padding: 15px;
            font-size: 1.3rem;
            width: 100%;
            p{color: $color-letras;}
        }
    }
}

