/*@MEDIA QUERIES PAGINAS*/
@media only screen and (min-width: 769px) and (max-width: 1224px){
    .container-video-texto{
        div{
            display: grid!important;
            grid-template-rows: 1fr!important;
            .container-texto{
                h1{font-size: 1.4rem!important;}
                p{font-size: 1.0rem!important;}
            }
        }
    }
    .separadores-video{
        .parallax-mirror{
            width: 100%;
            transform: none;
        }
    }
    .creditos{
        .parrafo{
            p{font-size: 1.2rem!important;
                text-align: center;}
        }
    } 
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .container-video-texto{
        div{
            display: grid!important;
            grid-template-columns: 1fr!important;
            grid-template-rows: 1fr;
        }
    }
    .separadores-video{
        .parallax-mirror{
            width: 100%;
            transform: none;
        }
    }
    .button-position{
        display: flex;
        flex-direction: column;
        align-items: center;
        .button-network{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center; 
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    .container-video-texto{
        div{
            display: grid!important;
            grid-template-columns: 1fr!important;
            grid-template-rows: 1fr;
            .container-texto{
                h2{font-size: 1.5rem!important;}
                p{font-size: 0.7rem!important;}
            }
        }
    }
    .separadores-video{
        .parallax-mirror{
            width: 100%;
        }
    }
    .creditos{
        .parrafo{
            p{font-size: 0.8rem!important;
                text-align: center;}
        }
    } 
}