@mixin flex($flex-direction, $align-items){
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
}
@mixin grid($justify-items, $align-items){
    display: grid!important;
    justify-items: $justify-items;
    align-items: $align-items;
}
