$color-primario: #000000;
$color-letras: aliceblue;
$color-s: rgb(216, 141, 1);
$color-i: rgb(234, 225, 225);
$color-f: rgb(0, 0, 115);
$color-t: #1f0e0e;
$color-w: rgb(19, 168, 19);
$color-y: rgb(181, 0, 0);
