.grupo-video{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .style-video{
        display: flex;
    }
    .content{
        position: absolute;
        .card-title-header{
            color: $color-letras;
            font-size: 9vw;
        }
        .card-body-header{
            a{
                &:hover{
                    background-color: rgb(22, 21, 19);
                }
                color: $color-letras;
                text-decoration: none;
                font-size: 5vw;
            }
        }
    }
}