.banner-item{
    .video-fondo{
        display: flex;
        align-items: center;
        video{
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .banner-content{
            position: absolute;
            .containerone{
                color: rgb(245, 243, 243);
                .banner-subtitle{
                    font-size: 4.2rem;
                    line-height: 1;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                .banner-title{
                    margin-top: 0;
                    margin-bottom: 30px;
                    line-height: 1;
                    
                }
            }
        }
    }
}
