.separadores-video{
    background-image: linear-gradient(to right, black, #0b0b1466);
    .parallax-mirror{
        background-color: black;
        visibility: visible;
        z-index: -100;
        position: fixed;
        top: 0px;
        left: 0px;
        overflow: hidden;
        height: 100%;
        width: 100%; 
        transform: translate3d(0px, 199.078px, 0px);
        video{
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .page-main{
        position: relative;
        z-index: -101;
        background-color: black;
        margin: 0;
        padding: 70px 0;
        border: none;
        border-radius: 0;
        color: #ffffff;
        ol{
            list-style: none;
        }
    }
}